__pycache__/

.vscode/

# scripts personnels utilitaires pour tâches récurentes
# Crée un fichier problems/problemx.py avec mon format
new_problem.py
# Mets à jour le readme pour un problème x commme résolue
solve_problem.py